.navbar{
    background-color: #333;
}


.nav-item a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    transition: color 0.3s;
}
.nav-item a:hover {
    color: white;
}
.nav-item a:hover {
    background-color: gray;
    color: #ffffff;
}

/* Effet bouton AU CLIC seulement */
.nav-item a:active {
    background-color: gray;
    color: white;
}

/* Réinitialisation de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Conteneur principal en Flexbox */
.container {
    display: flex;
    max-width: 1200px;
    margin: 100px auto;
    gap: 20px;
    padding: 0 20px;
}

/* Grille des articles */
.articles-grid {
    display: flex;
    flex: 3;
    gap: 40px;
}

/* Style des cartes d'articles */
.card {
    background: #fff;
    flex: 1;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-content {
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.card h2 {
    margin-bottom: 15px;
    font-size: 1.5rem;
}

.card p {
    font-size: 0.95rem;
    color: #666;
    margin-bottom: 20px;
}

.read-more {
    margin-top: auto;
    text-align: right;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 0.9rem;
}


/* Barre latérale */
.sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.sidebar-box {
    background: lightgray;
    padding: 20px;
    border-radius: 8px;
    
}

.sidebar-box h3 {
    margin-bottom: 15px;
    font-size: 1.2rem;
    color: black;
}

.sidebar-box ul {
    list-style: none;
}

.sidebar-box ul li {
    margin-bottom: 10px;
    cursor: pointer;
    margin: 0;
}


/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 30px 0;
    margin-top: 50px;
}

footer nav {
    margin-bottom: 10px;
}

footer nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 0.9rem;
}

footer p {
    font-size: 0.85rem;
    opacity: 0.8;
}

/* Responsive pour mobile */
@media (max-width: 768px) {
    .container, .articles-grid {
        flex-direction: column;
    }
}








